<div class="container" id="product-page">
  <div class="row">
    <!-- left side -->
    <div class="col-md-6" id="product-left">

      <h1 class="prod-title"><%= @product.name %></h1>
      <div class="prod-image">
        <%= image_tag @product.image1, class: "img-responsive" %>
      </div>

      <div class="prod-desc">
        <%= @product.description %>
      </div>

      <div class="prod-pork-beef">

        <% if @product.has_pork %>
          <div class="contains">Contains Pork</div>
        <% end %>

        <% if @product.has_beef %>
          <div class="contains">Contains Beef</div>
        <% end %>

      </div>

    </div>

    <!-- right side -->
    <div class="col-md-6" id="product-right">

      <div class="prod-price"><%=number_to_currency(@product.price, unit: "RM")%></div>
      <div class="prod-time-left"><% if @product.expire < DateTime.now %> EXPIRED <% end %></div>

      <% if @product.expire > DateTime.now %>
      <script type="text/javascript">
        $(".prod-time-left")
        .countdown("<%= @product.expire.strftime("%Y/%m/%d %H:%M:%S") %>", function(event) {
          $(this).text(
            event.strftime('%D days %H:%M:%S')
          );
        });
      </script>
      <% end %>

      <div class="prod-product-left">
        <% if @product.expire < DateTime.now %>
          SOLD OUT
        <% else %>
          <%= @total_left %> left, out of <%= @product.pax_total %> meals
        <% end %>
      </div>
      <div class="prod-location">
        <div class="prod-map">
          <a href="http://maps.google.com/?q=<%= @product.user.address %>" target="_blank">
            <%= image_tag src= "http://maps.google.com/maps/api/staticmap?size=555x240&sensor=false&zoom=18&key=AIzaSyCvufbqzO_iNDmBMY4VV-3h_-Xj53r7uMg&format=png&visual_refresh=true&markers=#{@product.user.latitude}%2C#{@product.user.longitude}", class: "img-responsive" %>
          </a>
          <!-- <%= image_tag src= "http://maps.google.com/maps/api/staticmap?size=555x240&sensor=false&zoom=18&key=AIzaSyCvufbqzO_iNDmBMY4VV-3h_-Xj53r7uMg&format=png&visual_refresh=true&markers=#{@product.user.latitude}%2C#{@product.user.longitude}", class: "img-responsive" %> -->
          <!-- <img width="550" src="http://maps.googleapis.com/maps/api/staticmap?center=cyberjaya&zoom=18&scale=false&size=550x240&maptype=roadmap&key=AIzaSyCvufbqzO_iNDmBMY4VV-3h_-Xj53r7uMg&format=png&visual_refresh=true" alt="Google Map of cyberjaya" class: "img-responsive"> -->
        </div>

        <div class="prod-address">
          <%= @product.user.address %>
        </div>
      </div>
      <div class="prod-collect"><span>Collection Date:</span> <%= @product.collect.strftime("%d/%m/%Y") %></div>
      <div class="prod-collect"><span>Collection Time:</span> <%= @product.collect.strftime("%l:%M%p") %></div>

      <%if current_user != @product.user%>
        <% if @product.expire > DateTime.now %>
          <% if current_user != nil %>
            <div id="order-form">
              <%= form_for(:braintree, url: orders_path, method: :post, html: { id: "add-product-form" }) do |f| %>

                <%= f.number_field :product_id, required: true, value:"#{@product.id}", style: "display:none;" %>

                <input id="menu_price" name="price" type="hidden"  value="<%= @product.price %>">
                <input id="total_cost" name="total_cost" type="hidden"  value="<%= @product.price %>">
                <input id="payment_method_nonce" name="payment_method_nonce" type="hidden"  value="">

                <div class="field">
                  <%= f.label "Quantity :" %><br />
                  <%= f.number_field :quantity, autofocus: true, min: 1, max: @total_left, value: 1, required: true, id: "quantity" %>
                </div>

                <div class="field">
                  <%= f.label "Total Cost :" %><br />
                  <%= f.number_field :total, autofocus: true, min: 1, value: number_to_currency(@product.price, unit: "") , required: true, readonly: true, id: "total" %>
                </div>

                <div class="field">
                  <%= f.label "Phone :" %><br />
                  <%= f.phone_field :phone, autofocus: true, placeholder: "Phone", value:"#{current_user.try(:phone)}" %>
                </div>

                <div class="field">
                  <%= f.label "Email :" %><br />
                  <%= f.email_field :email, autofocus: true, placeholder: "Email", value:"#{current_user.try(:email)}" %>
                </div>

                <div class="field">
                  <%= f.label "Address :" %><br />
                  <%= f.text_field :address, autofocus: true, placeholder: "Address", value:"#{current_user.try(:address)}" %>
                </div>

                <div class="bt-drop-in-wrapper">
                  <div id="dropin-container"></div>
                </div>

                <button class="btn btn-embossed btn-beige prod-order-btn" type="submit" id="checkout-btn"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Check Out</button>
                <div id="loading" style="display:none;">
                  <%= image_tag "common/loading.gif" %>
                </div>
              <% end %>
            </div>
          <% end %>
          <button class="btn btn-embossed btn-beige prod-order-btn" type="submit" id="order-btn"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Order Now</button>
          <script>
          $( document ).ready(function() {

            $('#order-btn').click(function(){
              <% if current_user != nil %>
                $(this).slideUp();
                $("#order-form").slideDown();
              <% else %>
                window.location.href = "<%=new_user_session_path%>";
              <% end %>
            })

            $("#checkout-btn").click(function(){
              $("#checkout-btn").css("display","none");
              $("#loading").css("display","block");
            })

            $("#quantity").keypress(function (e) {

              if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
              }

            });

            $("#quantity").change(function() {
              // console.log($("#quantity").val() * $("#menu_price").val())
              var total = ($("#quantity").val() * $("#menu_price").val()).toFixed(2);
              $("#total").val(total);
              $("#total_cost").val(total);
            });

          });
          </script>
          <script>
            $.getScript( "https://js.braintreegateway.com/v2/braintree.js", function() {
              braintree.setup('<%= @client_token %>', 'dropin', {
                container: 'dropin-container',
                onPaymentMethodReceived: function (obj) {
                  // Do some logic in here.
                  // When you're ready to submit the form:
                  console.log('onPaymentMethodReceived');
                  console.log(obj["nonce"]);
                  $("#payment_method_nonce").val(obj["nonce"]);
                  $("#add-product-form").submit();
                },
                onError: function (obj) {
                  if (obj.type == 'VALIDATION') {
                    // Validation errors contain an array of error field objects:
                    console.log(obj.details.invalidFields);

                  } else if (obj.type == 'SERVER') {
                    // If the customer's browser cannot connect to Braintree:
                    console.log(obj.message); // "Connection error"
                    // If the credit card failed verification:
                    console.log(obj.message); // "Credit card is invalid"
                    console.log(obj.details); // Object with error-specific information
                  }

                  $("#checkout-btn").css("display","block");
                  $("#loading").css("display","none");
                }
              });
              $("#order-btn").slideDown();
            });
          </script>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6" id="about-chef">
      <hr />
      <div class="chef-profile">
        <% if @product.user.profile_image? %>
          <%= image_tag @product.user.profile_image, class: "profile-img img-responsive" %>
        <% end %>
      </div>

      <div class="chef-store">
        <h3><strong><%= @product.user.store_name %></strong></h3>
        <h4>by <strong><%= link_to @product.user.name, user_path(@product.user) %></strong></h4>
      </div>

      <div id="info-con">
        <div class="info-title">About Chef</div>
        <div class="info-desc"><%= @product.user.about %></div>

        <div class="info-title">Chef's Rating</div>
        <div class="info-desc"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
<span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>

        <%if current_user != @product.user%>
          <%if current_user%>
            <div>
              <%= link_to follow_path(chef_id: @product.user.id), method: :post, remote: true, class: "btn #{@class} btn-block", id:"follow-btn" do %>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class="btn-text"><%= @text %></span>
              <% end %>
            </div>
          <% else %>
            <div>
              <%= link_to new_user_session_path, class: "btn btn-success btn-block", id:"follow-btn" do %>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class="btn-text">Follow Chef</span>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
