<div class="container" id="profile-page">
  <div class="row">
    <!-- left side -->
    <div class="col-md-3" id="profile-left">

      <div id="preview-image">
        <% if current_user.profile_image? %>
          <%= image_tag @user.profile_image, class: "profile-img img-responsive" %>
        <% end %>
      </div>

      <h3 class="username"><%= @user.name %></h3>


      <% if @user&.chef? %>
        <div class="chef-title">I'm a Chef!</div>
      <% else %>
        <div class="user-title">I'm a Food Lover!</div>
      <% end %>
      <div id="info-con" class="nomar">
        <% if @user&.chef? %>
        <div class="info-title">Store Name</div>
        <div class="info-desc"><%= @user.store_name %></div>
        <% end %>

        <div class="info-title">Member Since</div>
        <div class="info-desc"><%= @user.created_at.strftime('%b %d, %Y') %></div>

        <% if @user&.chef? %>

          <div class="info-title">Rating</div>
          <div class="info-desc">@@@@@</div>


          <%if current_user != @user %>
            <div class="info-title mar20top">
            <%if current_user%>
              <div>
                <%= link_to follow_path(chef_id: @user.id), method: :post, remote: true, class: "btn #{@class} btn-block", id:"follow-btn" do %>
                  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class="btn-text"><%= @text %></span>
                <% end %>
              </div>
            <% else %>
              <div>
                <%= link_to new_user_session_path, class: "btn btn-success btn-block", id:"follow-btn" do %>
                  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class="btn-text">Follow Chef</span>
                <% end %>
              </div>
            <% end %>
            </div>
          <% end %>

        <% end %>


      </div>

    </div>

    <!-- right side -->
    <div class="col-md-9" id="profile-right">

      <div class="profile-row">
        <h2 class="profile-title">About Me</h2>
        <div><%= @user.about %></div>
      </div>


      <% if @orders.length > 0 && current_user == @user%>
        <div class="profile-row">
          <h2 class="profile-title">My Orders</h2>
          <div class="table-con">
            <table class="table table-bordered">
              <tr class="table-header">
                <td class="date">Date</td>
    						<td class="img">Image</td>
    						<td class="name">Product Name</td>
    						<td class="quantity">Quantity</td>
    						<td class="price">Unit Price</td>
    						<td class="total">Total</td>
                <td class="view">View Order</td>
    					</tr>
              <% @orders.each do |order| %>
              <%= render partial: "users/order_row", locals: { order: order} %>
              <% end %>
            </table>
          </div>
        </div>
      <% end %>

      <% if @favs.length > 0 && current_user == @user%>
        <div class="profile-row">
          <h2 class="profile-title">My Favourite Chefs</h2>
          <div class="chef-con">
            <% @favs.each do |fav| %>
            <%= render partial: "users/fav_row", locals: { chef: fav} %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @user&.chef? %>
        <div class="profile-row">
          <h2 class="profile-title">Available Now!</h2>

          <div class="menu-con">
            <% @current_menus.each do |item| %>
              <%= render partial: "menu/menu_item", locals: {item: item} %>
            <% end %>
          </div>
        </div>
        <% if @past_menus.length > 0 %>
          <div class="profile-row">
            <h2 class="profile-title">Past Menu</h2>
            <div class="menu-con">
              <% @past_menus.each do |item| %>
                <%= render partial: "menu/menu_item", locals: {item: item} %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>

  </div>
</div>
