<div class="container" id="profile-page">
  <div class="row">
    <!-- left side -->
    <div class="col-md-3" id="profile-left">

      <div id="preview-image">
        <% if current_user.profile_image? %>
          <%= image_tag @user.profile_image, class: "profile-img img-responsive" %>
        <% end %>
      </div>

      <h3 class="username"><%= @user.name %></h3>


      <% if @user&.chef? %>
        <div class="chef-title">I'm a Chef!</div>
      <% else %>
        <div class="user-title">I'm a Food Lover!</div>
      <% end %>
      <div id="info-con" class="nomar">
        <% if @user&.chef? %>
        <div class="info-title">Store Name</div>
        <div class="info-desc"><%= @user.store_name %></div>
        <% end %>

        <div class="info-title">Member Since</div>
        <div class="info-desc"><%= @user.created_at.strftime('%b %d, %Y') %></div>

        <% if @user&.chef? %>
        <div class="info-title">Your Rating</div>
        <div class="info-desc">@@@@@</div>
        <% end %>
      </div>

    </div>

    <!-- right side -->
    <div class="col-md-9" id="profile-right">

      <div class="profile-row">
        <h2 class="profile-title">About Me</h2>
        <div><%= @user.about %></div>
      </div>

      <% if @user&.chef? %>
        <div class="profile-row">
          <h2 class="profile-title">Available Now!</h2>

          <div class="menu-con">
            <% @current_menus.each do |item| %>
              <%= render partial: "menu/menu_item", locals: {item: item} %>
            <% end %>
          </div>
        </div>

        <div class="profile-row">
          <h2 class="profile-title">Past Menu</h2>
          <div class="menu-con">
            <% @past_menus.each do |item| %>
              <%= render partial: "menu/menu_item", locals: {item: item} %>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>
