<div id="reg-page">
  <div class="container mar80bottom">

    <h2 class="categoryTitle">Become a Chef</h2>

    <div class="row">

      <div class="col-sm-6">
        <div class="signup-bg">

          <%= form_for(current_user, as: resource_name, url: users_reg_a_chef_path, remote: true, multipart: true, html: { method: :put }, authenticity_token: true) do |f| %>

            <div class="field">
              <%= f.label :store_name %><br />
              <%= f.text_field :store_name, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :address %><br />
              <%= f.text_field :address, autofocus: true %>
            </div>

            <% unless current_user.provider == "facebook" %>

              <div class="field">
                <%= f.label :current_password %><br />
                <%= f.password_field :current_password, autocomplete: "off" %>
              </div>

            <% end %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="actions mar20top">
              <%= f.submit "Sign Up as Chef" , class: "btn btn-embossed btn-beige" %>
            </div>
          <% end %>

        </div>
      </div>

    </div>

  </div>
</div>
